:root {
  --black: #0d1321;
  --white: #edf2f4;
  --light-beige: #f0ebd8;
  --dark-blue: #1d2d44;
  --blue: #3e5c76;
  --light-blue: #748cab;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: var(--dark-blue);
  color: var(--black);
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: var(--dark-blue);
  color: var(--light-beige);
}

input {
  border: none;
  outline: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

a {
  display: block;
  text-decoration: none;
  cursor: pointer;
  color: var(--white);
}

.the-loader {
  width: 40px;
  height: 40px;
  margin: 40px auto;
  border: 4px solid var(--light-beige);
  border-top-color: transparent;
  border-radius: 50%;
  animation: loader 1s infinite linear;
}

.the-loader.hide {
  display: none;
}

@keyframes loader {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.skeleton {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background-color: var(--dark-blue);
}
.skeleton::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(270deg, 
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, .1),
    rgba(255, 255, 255, 0)
  );
  transform: translateX(-100%);
  animation: skeleton-loader 2s infinite;
}
@keyframes skeleton-loader {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

.container {
  max-width: 1120px;
  margin: 0 auto;
}

.headline {
  margin: 80px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-family: 'Gugi', cursive;
  font-size: 120px;
}

.search {
  display: flex;
  gap: 10px;
}

.search input {
  flex-grow: 1;
  width: 700px;
  height: 60px;
  box-sizing: border-box;
  padding: 0 20px;
  background-color: var(--white);
  font-size: 20px;
  font-weight: 700;
  border-radius: 7px;
}

.search button {
  min-width: 150px;
  height: 60px;
  background-color: var(--blue);
  color: var(--white);
  font-size: 28px;
  font-weight: 700;
  border-radius: 7px;
  transition: .3s;
}

.search button:hover {
  background-color: var(--black);
  color: var(--white);
}

.movie-list {
  box-sizing: border-box;
  margin: 40px auto;
  padding: 20px;
  width: 100%;
  border-radius: 7px;
  background-color: var(--blue);
}

.message {
  color: var(--white);
  font-size: 20px;
  text-align: center;
}

.movies {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.movie {
  width: 200px;
  height: 300px;
  background-size: cover;
  position: relative;
  background-color: var(--black);
}

.movie:hover::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 6px solid var(--white);
}

.info {
  width: 100%;
  height: 65px;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  background-color: rgba(116, 140, 171, .4);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.info .year {
  font-size: 14px;
}

.info .title {
  font-size: 16px;
  font-weight: 700;
  margin-top: 8px;
  padding: 0 4px;
}

.btn-more {
  width: 100%;
  padding: 10px;
  max-width: 100px;
  margin: 20px auto;
  display: block;
  background-color: var(--blue);
  color: var(--white);
  font-size: 20px;
  font-weight: 700;
  border-radius: 7px;
  transition: .3s;
}

.btn-more.hide {
  display: none;
}

.the-movie {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  color: var(--white);
  font-size: 25px;
}

.the-movie .poster {
  width: 1000px;
  height: 500px;
  background-size: cover;
  background-color: var(--black);
  margin: 30px auto;
}

.the-movie .title {
  font-size: 50px;
  font-weight: 700;
}

.the-movie .title.skeleton {
  height: 50px;
}

.the-movie .labels {
  font-size: 22px;
}

.the-movie .labels.skeleton {
  height: 30px;
}

.the-movie .specs {
  display: flex;
}

.the-movie .wrap {
  display: flex;
  margin-right: 50px;
  font-size: 22px;
}

.the-movie .wrap.skeleton {
  height: 30px;
}

.the-movie h3 {
  margin-right: 10px;
  color: var(--light-blue);
}

.the-movie .tagline {
  margin-top: 10px;
  color: var(--light-beige);
  font-weight: 700;
}

.the-movie .tagline.skeleton {
  height: 40px;
}

.the-movie .plot {
  margin-top: 10px;
  font-size: 20px;
  line-height: 1.5;
}

.the-movie .plot.skeleton {
  height: 100px;
}