:root {
  --black: #0d1321;
  --white: #edf2f4;
  --light-beige: #f0ebd8;
  --dark-blue: #1d2d44;
  --blue: #3e5c76;
  --light-blue: #748cab;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  height: 1000px;
  background-color: var(--dark-blue);
  color: var(--black);
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: var(--dark-blue);
  color: var(--light-beige);
}

input {
  border: none;
  outline: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
}

.headline {
  margin: 80px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-family: 'Gugi', cursive;
  font-size: 120px;
}

.search {
  display: flex;
  gap: 10px;
}

.search input {
  flex-grow: 1;
  width: 700px;
  height: 60px;
  box-sizing: border-box;
  padding: 0 20px;
  background-color: var(--white);
  font-size: 20px;
  font-weight: 700;
  border-radius: 7px;
}

.search button {
  min-width: 150px;
  height: 60px;
  background-color: var(--blue);
  color: var(--white);
  font-size: 28px;
  font-weight: 700;
  border-radius: 7px;
  transition: .3s;
}

.search button:hover {
  background-color: var(--black);
  color: var(--white);
}